{% extends "pizzas/base.html" %}

{% block content %}

<p> Pizza: {{ pizza }}</p>

<ul>
    {% for topping in toppings %}
    <li>
        <p> {{ topping.name|linebreaks }}</p>
    </li>
    {% empty %}
    <li>There are no toppings for this pizza.</li>
    {% endfor %}
</ul>

<p> <a href="{% url 'pizzas:new_comment' pizza.id %}">Add new comment</a></p>

<ul>
    {% for comment in pizza.comments.all %}
    <li>
        <p> {{ comment.name|linebreaks }}</p>
        <p> {{ comment.body|linebreaks }}</p>
        <p> {{ comment.comment }}</p>
    </li>
    {% empty %}
    <li>There are no comments about this pizza.</li>
    {% endfor %}
</ul>

{% endblock content %}