{% extends "pizzas/base.html" %}

{% block content %}

<p> Pizza: {{ pizza }}</p>

<ul>
    {% for topping in toppings %}
    <li>
        <p> {{ topping.name|linebreaks }}</p>
    </li>
    {% empty %}
    <li>There are no toppings for this pizza.</li>
    {% endfor %}
</ul>

{% if request.get_full_path == "/pizzas/1/" %}
<blockquote class="imgur-embed-pub" lang="en" data-id="a/MtI8Pbp" data-context="false"><a
        href="//imgur.com/a/MtI8Pbp"></a></blockquote>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
{% elif request.get_full_path == "/pizzas/4/" %}
<blockquote class="imgur-embed-pub" lang="en" data-id="a/mG16mux" data-context="false"><a
        href="//imgur.com/a/mG16mux"></a></blockquote>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
{% elif request.get_full_path == "/pizzas/3/" %}
<blockquote class="imgur-embed-pub" lang="en" data-id="a/ypgSz2F" data-context="false"><a
        href="//imgur.com/a/ypgSz2F"></a></blockquote>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
{% elif request.get_full_path == "/pizzas/2/" %}
<blockquote class="imgur-embed-pub" lang="en" data-id="a/pzm5Of6" data-context="false"><a
        href="//imgur.com/a/pzm5Of6"></a></blockquote>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
{% endif %}

<p> <a href="{% url 'pizzas:new_comment' pizza.id %}">Add new comment</a></p>

<ul>
    {% for comment in pizza.comments.all %}
    <li>
        <p> {{ comment.name|linebreaks }}</p>
        <p> {{ comment.body|linebreaks }}</p>
        <p> {{ comment.comment }}</p>
    </li>
    {% empty %}
    <li>There are no comments about this pizza.</li>
    {% endfor %}
</ul>

{% endblock content %}